@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Một email chứa đường link đặt lại mật khẩu đã được gửi (nếu email hợp lệ). Vui lòng kiểm tra hộp thư đến và cả thư rác/spam để nhận đường link đặt lại mật khẩu.
</p>
