@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Mật khẩu của bạn đã được đặt lại thành công. Vui lòng <a asp-page="./Login">bấm vào đây để đăng nhập</a> với mật khẩu mới.
</p>
